body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 80%;
}

.form-control {
  margin: 0 0 25px 0;
}

.input-group {
  margin: 0 0 15px;
}

.feedback {
  display: block;
  width: 100%;
  margin-top: 0.05rem;
  font-size: 0.875em;
  color: #dc3545;
}

.btn-primary {
  display: block;
  margin: 25px auto 0;
}
